<?xml version="1.0"?>
<model>
  <name>AprilTag Stand</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Jay</name>
    <email>jay@rover.com</email>
  </author>
  <description>
    AprilTag mounted on a stand for follow-me testing
  </description>
</model>
